$primary-color-hover: #7B5BB4;
$primary-color: #5626B0;
$primary-color-hover: #7B5BB4;
$background-from: #0C0A0A;

.chats {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;

  &__left-side {
    max-width: 300px;
    height: 100vh;
    background-color: $background-from;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: #484848 $background-from;
    box-sizing: border-box;
  }

  &__top-sticky-position {
    background-color: $background-from;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 2px;
    z-index: 1;
  }

  &__top-bar {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-left: 20px;
    align-self: center;
  }

  &__hide-button {
    margin-right: 25px;
    align-self: center;
  }

  &__search {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;
    align-content: center;
    gap: 15px;

    @media (max-width: 700px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
  }
    
  }
  &__search-input {
    width: 50%;
  }

  &__switch-button {
    width: 50%;
  }

  &__right-side {
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__chat-interlocutor {
    width: 100vw;
    display: flex;
    flex-direction: row;
    border-bottom: 1px  solid #4b4a4a;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    gap: 20px;
    position: sticky;
    top: 0;
  }

  &__input-message {
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
  }

  &__current-chats {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-color: #484848 $background-from;
    box-sizing: border-box;
    
  }

  &__current-chat {

    &_left{
      align-self: flex-end;
    }
  }

}