$primary-color-hover: #7B5BB4;
$primary-color: #5626B0;
$primary-color-hover: #7B5BB4;


.lite-button {
    font-size: 12px;
    text-decoration: none;
    font-family: "Tektur", serif;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    color: $primary-color;

    &:hover {
        color: $primary-color-hover;

    }
}