$background-from: #0C0A0A;

.login{
  width: 340px;
  height: 460px;
  border-radius: 20px;
  color: aliceblue;
  background-color: $background-from;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin-top: 39px;
    margin-bottom: 61px;
    font-family: "Tektur", serif;
    font-weight: 400;
    font-style: normal;
  }

  &__submit {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__button {
    margin-bottom: 14px;
  }

  &__lite-button {
    margin-bottom: 37px;
  }
}

