@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Tektur:wght@400..900&display=swap');


// Color
$primary-color: #5626B0;
$primary-color-hover: #7B5BB4;
$text-color: #E2E2E2;
$disabled-color: #2f2f2f;

// partials
@import url(buttonSubmit.scss);
@import url(input.scss);
@import url(liteButton.scss);
@import url(buttonCircle.scss);
@import url(iconCircle.scss);
@import url(nikname.scss);
@import url(inputSerch.scss);
@import url(inputMessage.scss);
@import url(chatItem.scss);
@import url(message.scss);


// modules
@import url(login.scss);
@import url(signin.scss);
@import url(chats.scss);
@import url(editInfo.scss);
@import url(error.scss);


// Global
.layout {
  background-color: #151B23;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}