$primary-color: #5626B0;
$text-color: #E2E2E2;
$disabled-color: #2f2f2f;

.button-submit {
    width: 280px;
    height: 37px;
    background-color: $primary-color;
    color: $text-color;

    &:hover{
        cursor: pointer;
    }

    &:disabled {
        background-color: $disabled-color;
    }
}